{% extends "base.html" %}

{% block title %}Select Numbers - {{ game.name }} - LottoGo{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/number_selection.css') }}">
{% endblock %}

{% block navigation %}
    {% include 'components/_dashboard_nav.html' %}
{% endblock %}

{% block content %}
<div class="min-h-screen bg-gray-50 py-8">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">

        <!-- Game Header -->
        {% include 'components/_game_header.html' %}

        <!-- Number Selection Container -->
        <div id="number-selection-container" 
             data-game-id="{{ game.id }}"
             data-main-numbers-count="{{ game.main_numbers_count }}"
             data-main-numbers-range="{{ [game.main_numbers_range_low, game.main_numbers_range_high] | tojson }}"
             data-special-ball-name="{{ game.special_ball_name }}"
             data-special-ball-range="{{ [game.special_ball_range_low, game.special_ball_range_high] | tojson }}"
             data-ticket-price="{{ game.ticket_price }}">

            <!-- This is where the number selector component will be rendered -->
            {% include 'components/_number_selector.html' %}

        </div>

        <!-- Game Rules -->
        {% include 'components/_game_rules.html' %}

        <!-- Favorites Section -->
        {% if favorites %}
            {% include 'components/_favorites_list.html' %}
        {% endif %}

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/number_selection.js') }}"></script>
{% endblock %}
